// OVERRIDE VARIABLES
// See more in https://github.com/ktquez/vuepress-theme-ktquez/blob/master/styles/config.styl

$primaryColor = #41B883 
$accentColor = #35495E


$colorImageFallback = $accentColor